<header
  class="sticky top-0 z-40 backdrop-blur supports-[backdrop-filter]:bg-white/70 border-b border-neutral-200"
>
  <div class="mx-auto px-4 md:px-8 lg:px-11 py-3 flex items-center justify-between">
    <a class="flex items-center gap-3 max-md:gap-2" routerLink="/">
      <span
        class="inline-flex h-10 w-10 max-md:w-9 max-md:h-9 items-center justify-center rounded-xl bg-primary font-black text-lg"
      >
        <img
          src="https://res.cloudinary.com/damm9iwho/image/upload/v1762188181/logo_mwqce0.svg"
          alt="ProPirates Logo"
          priority
        />
      </span>
      <span class="font-semibold tracking-tight text-3xl max-md:text-2xl">ProPirates</span>
    </a>
    <div class="flex items-center gap-4">
      <a
        href="/apply-now"
        class="rounded-xl max-md:rounded-lg px-4 py-2 max-md:py-1.5 bg-primary hover:bg-emerald-500 text-white font-semibold transition"
      >
        Apply Now
      </a>
      <!-- <a
        href="/login"
        class="rounded-2xl px-6 py-2 border border-neutral-300 hover:border-neutral-400 transition max-md:hidden"
      >
        Login
      </a> -->
    </div>
  </div>
</header>
