<header class="sticky top-0 z-40 backdrop-blur supports-[backdrop-filter]:bg-white/70 border-b border-neutral-200">
    <div class="mx-auto px-4 md:px-8 lg:px-11 py-3 flex items-center justify-between">
        <div class="flex items-center gap-3">
            <a routerLink="/" class="flex items-center gap-3">
                <span
                    class="inline-flex h-10 w-10 items-center justify-center rounded-xl bg-primary font-black text-lg">
                    <img src="https://res.cloudinary.com/damm9iwho/image/upload/v1762188181/logo_mwqce0.svg"
                        alt="ProPirates Logo" />
                </span>
                <span class="font-semibold tracking-tight text-3xl">ProPirates</span>
            </a>
        </div>
        <nav class="flex items-center gap-6">
            <a routerLink="/" class="text-neutral-700 hover:text-primary transition">Home</a>
            <a routerLink="/pricing" class="text-neutral-700 hover:text-primary transition">Pricing</a>
            <a routerLink="/features" class="text-neutral-700 hover:text-primary transition">Features</a>
            <a routerLink="/blog" class="text-neutral-700 hover:text-primary transition">Blog</a>
            <a routerLink="/contact" class="text-neutral-700 hover:text-primary transition">Contact</a>
            <a routerLink="/login"
                class="rounded-2xl px-6 py-2 bg-primary hover:bg-emerald-500 text-white font-semibold transition">
                Login
            </a>
        </nav>
    </div>
</header>