/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');
html,
body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 2rem;
}

.border-badge {
  @apply bg-white text-[#525252] text-base px-5 py-1 rounded-full border-2 border-[#E5E5E5];
}
